# Settings for vmtool (mkvm, rmvm, etc.)

# These settings, which are set in Perl format, can be overridden by the
# mkvm.config file in the SVN install tree's common directory -- although that
# file is only read in the case of the mkvm command.  Likewise, that file is
# overridden by the service-specific mkvm.config file in the install tree, if
# there is one, and if vmtool can figure out the service from the VM name.

# Memory and disk sizes use IEEE1541 units:

# 1MB = 1000000
# 1MiB = 1048576

# The script uses these units case-insensitively (1mb = 1MB, 1mib = 1MiB).

# It also recognizes single-letter, case-sensitive "LVM units" (1m = 1MB, 1M =
# 1MiB).

# Default size of /usr/local virtual disk for new VMs created by mkvm
# (can override with -s option)
$USR_LOCAL_SIZE = '8G';

# Default memory size of new VMs created by mkvm
# (can override with -m option)
# Note: Must be a multiple of 1 M (= 1024*1024 B)
$MEM_SIZE = '1G';

# Default number of virtual CPUs for new VMs
# (can override with -c option)
$NUMVCPUS = 1;

# Default RHEL version for new VMs (can override with -r option)
$RHEL_V = '6';

# Whether mkvm should start newly-created VMs immediately after creating them
# (can override with -p option)
$START = '';

# Whether mkvm should prevent new VMs from starting when host boots (can
# override with -a option)
$NOAUTOSTART = '';

# Whether mkvm should tell the new VM to attempt to set up its networking
# parameters the first time it boots (can override with -n option)
$AUTONET = '';

# Whether mkvm should tell the new VM to attempt to run the install script the
# first time it boots (can override with -i option)
$INSTALL = '';
